<%= simple_form_for @artwork, :html => {:multipart => true } do |f| %>
  <% if @artwork.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artwork.errors.count, "error") %> prohibited this artwork from being saved:</h2>

      <ul>
      <% @artwork.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-4">
    <%= f.input :image %>
      </div>
    <div class="col-md-8">
      <%= f.input :title %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= f.input :genre, :collection => ['Landscape', 'Still life', 'Figure', 'Interior'], :include_blank => false, :as => :radio_buttons %>
    </div>

    <div class="col-md-4">
      <%= f.input :category, :collection => ['Painting', 'Drawing', 'Sculpture', 'Print', 'Mixed media'], :include_blank => false, :as => :radio_buttons, %>
    </div>

    <div class="col-md-4">
      <%= f.input :medium, :collection => ['Oil on paper', 'Oil on canvas', 'Oil on canvas mounted on panel', 'Watercolor', 'Ink wash', 'Charcoal', 'Graphite'], :include_blank => false, :as => :radio_buttons %>
    </div>
  </div>

  <%= f.button :submit %>
<!--
  <div class="form-group">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="form-group">
    <%= f.label :genre %><br>
    <%= f.select :genre, ['Landscape', 'Still life', 'Figure', 'Interior'] %>
  </div>

  <div class="form-group">
    <%= f.label :category %><br>
    <%= f.select :category, ['Painting', 'Drawing', 'Sculpture', 'Print', 'Mixed media'] %>
  </div>

  <div class="form-group">
    <%= f.label :medium %><br>
    <%= f.select :medium, ['Oil on paper', 'Oil on canvas', 'Oil on canvas mounted on panel', 'Watercolor', 'Ink wash', 'Charcoal', 'Graphite'] %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div> -->
<% end %>
