<p id="notice"><%= notice %></p>

<div class="row">

	<div class="col-md-8">
  	<%= image_tag @artwork.image.url %>
  </div>

  <div class="col-md-4">
  	<p class="field-label">Title</p>
  	<h1><%= @artwork.title %></h1>
  </div>	
  	<div class="col-md-2">
  		<p class="field-label">Genre</p>
  		<h3><%= @artwork.genre %></h3>
  	</div>
  	<div class="col-md-2">
  		<p class="field-label">Category</p>
  		<h3><%= @artwork.category %></h3>
  	</div>
  <div class="col-md-4">
  	<p class="field-label">Medium</p>
  	<h3><%= @artwork.medium %></h3>
  </div>

</div>



  


<%= link_to 'Edit', edit_artwork_path(@artwork) %> |
<%= link_to 'Artworks Table', artworks_path %>
