<%- title "#{@artwork.title}" + " — Peter Bentley"%>

<p id="notice"><%= notice %></p>

<div class="row">

	<div class="col-md-8">
  	<%= image_tag(@artwork.image.url, :class => 'img-responsive') %>
  </div>

  <div class="col-md-4">
  	<p class="field-label">Title</p>
  	<h1><%= @artwork.title %></h1>
  	<p class="field-label">Medium</p>
  	<h3><%= @artwork.medium %></h3>
  </div>

  <div class="col-md-2">
		<p class="field-label">Genre</p>
		<h3><%= @artwork.genre %></h3>
	</div>
	<div class="col-md-2">
		<p class="field-label">Category</p>
		<h3><%= @artwork.category %></h3>
	</div>

	<div class="col-md-2">
		<p class="field-label">Date</p>
		<h3><%= @artwork.date %></h3>
	</div>
	<div class="col-md-2">
		<p class="field-label">Size</p>
		<h3><%= @artwork.height %> x <%= @artwork.width %> in.</h3>
	</div>

	<div class="col-md-2">
		<p class="field-label">Availability</p>
		<h3><%= @artwork.availability %></h3>
	</div>

	<div class="col-md-4">
		<div class="btn-group" role="group" aria-label="...">
		  <%= link_to "Previous",  @artwork.previous, :class => "btn btn-default" if @artwork.previous.present? %>
		  <%= link_to "Next", @artwork.next, :class => "btn btn-default" if @artwork.next.present? %>
		</div>
	</div>
	
</div> <!-- end of 'row' div -->



  


<%= link_to 'Edit', edit_artwork_path(@artwork) %> |
<%= link_to 'Artworks Table', artworks_path %>
